<!DOCTYPE html>
<html>
  <head>
    <title>New post</title>
    <link rel="stylesheet"  href="/css/styles.css" />
  </head>
  <body>
    <div class="Blog-container">
      <div class="form-container">
        <h2>Create New Awareness Post</h2>
        <form action="/new" method="post">
          <label>Title</label>
          <input type="text" name="title" required />
          <label>Content</label>
          <textarea name="content" rows="8" required></textarea>
          <label>Category</label>
          <select name="category" required>
            <option value="SDG 11 - Sustainable Cities">
              Sustainable Cities (SDG 11)
            </option>
            <option value="SDG 16 - Strong Institutions">
              Strong Institutions (SDG 16)
            </option>
          </select>
          <label>Author</label>
          <input type="text" name="author" required />
          <button class="add-button" type="submit">Add</button>
        </form>
      </div>
    </div>
  </body>
</html>
